<div class="modal-dialog product-modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3>選擇預約活動</h3>
    </div>
    <div class="modal-body">
      <% @reservations.each do |reservation| %>
        <% if !@consultation.user.is_member_of?(reservation) %>
          <%= link_to(reservation.subject, join_admin_school_reservations_path(current_user,consultation: @consultation,reservation: reservation.id),method: :post, class: "btn btn-primary") %>
        <% end %>
      <% end %>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>

  </div>
</div>
