
<div class="modal-dialog bs-example-modal-lg charts-modal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel">
  <div class="modal-content">
    <% if @type == "multi" %>
      <div id="multi1-container" >
        <%= @multicolumn.render() %>
      </div>
      <hr>
      <h4 class="text-center"> 數據報告 </h4>
      <p class= "text-center "> 今年總體流量比去年少！！ <br> 請洽詢專人協助提高流量！ <br> Email: Justudy@school.com
      </p>
    <% else %>
    <div id="inverse1-container">
      <%= @inversemsarea.render() %>
    </div>
    <hr>
    <h4 class="text-center"> 數據報告 </h4>
    <p class= "text-center "> 這星期的頁面參觀人數相較上星期的人數有明顯的提高！！ <br> 想要再提高嗎？<br>
      請洽詢專人協助！ <br> Email: Justudy@school.com
    </p>
    <% end %>

  </div>
</div>
