
<div class="modal-dialog bs-example-modal-lg charts-modal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel">
  <div class="modal-content">
    <% if @type == "multi" %>
      <div id="multi1-container" >
        <%= @multicolumn.render() %>
      </div>
      <hr>
      <h4 class="text-center"> Data Report </h4>
      <p class= "text-center "> The total traffic has decreased compare  with last year! <br>
Please contact representative for increasing the traffic numbers! <br> Email: <a href="#">Justudy@school.com</a>
      </p>
    <% else %>
    <div id="inverse1-container">
      <%= @inversemsarea.render() %>
    </div>
    <hr>
    <h4 class="text-center"> Data Report </h4>
    <p class= "text-center "> This weekly page view visitors are appreantly increase than last week. <br><br>    Want to increase higher? <br>  <br>  Please contact with representative to assist! <br> Email:  <a href="#">Justudy@school.com</a>
    </p>
    <% end %>

  </div>
</div>
