<div id="account-activity">
  <div class="account-title">帳戶活動 Acount Activity</div>
  <div class="account-group">
    <%= link_to("預約清單 Reservation List", consultations_admin_school_path(@school), class: 'account-btn') %>
    <%= link_to("活動清單 Activity List", admin_school_activities_path(@school), class: 'account-btn') %>
  </div>
</div>