#admin-activity {
  .account-title {
    margin: 15px 0;
    padding: 15px 30px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #64B0DB
  }
}

.admin-container {
  width: 100%;
  padding: 30px;
}

.modal-backdrop{
  z-index: 1 !important; 
}
