<div class="admin-container">
  <%= simple_form_for @activity, url: admin_school_activity_path(current_user, @activity) do |f| %>
    <% if @activity.image.present? %>
      <%= image_tag(@activity.image_url) %>
    <% end %>
    <%= render partial: "event", locals: { f: f } %>
    <%= f.submit "Save 存擋", class: "btn btn-primary", data: { disable_with: "送出......"} %>
  <% end %>
</div>
