#account-nav {
  text-align: center;

  .title {
    margin: 0;
    padding: 20px 0;
    letter-spacing: 2px;
    color: white;
    background-color: #4E86EC;
  }

  .subtitle {
    padding: 10px 0;
  }

  a {
    border: 1px black solid;
    border-radius: 4px;
    padding: 4px 20px;
    font-size: 16px;
  }
}

#account-profile {
  text-align: center;

  .profile-info {
    width: 400px;
    margin: 20px auto;
    border: 1px black solid;

    .profile-title {
      width: 100%;
      padding: 8px 0 ;
      color: white;
      background-color: #4E86EC;
    }

    .profile-content {
      width: 100%;
      padding: 10px 30px;
      font-size: 16px;
    }
  }
}

#check_calender {
  table {
    margin: 20px auto;

    thead {
      background-color: #D8D8D8;
    }
  }
}