#course-show {
  padding: 30px 0;

  .course-title {
    text-align: center;
  }

  .course-info {
    line-height: 45px;
    font-size: 20px;
    color: #162C79;

    a {
      margin-right: 10px;
      border-radius: 2px;
      border: 1px black solid;
      padding: 4px 20px;
      color: black;
      background-color: white;
    }
  }

  .subtitle {
    display: block;
    width: 200px;
    margin: 0 auto;
    position: relative;
    top: -30px;
    padding: 0 30px;
    text-align: center;
    letter-spacing: 5px;
    background-color: white;
  }

  #experts {
    .expert-name {
      text-align: center;
      font-size: 20px;
    }
    
    iframe {
      display: block;
      margin: 20px auto;
    }
  }
}
