#school-index {
  padding: 30px 0;

  .school-title {
    text-align: center;
  }

  .school-group {
    column-count: 3;
    column-gap: 20px;

    .school-card {
      display: inline-block;
      width: 100%;
      margin-top: 20px;
      border: 1px #979797 solid;
      
      img {
        width: 100%;
      }

      .school-info {
        padding: 5px 20px;
        line-height: 40px;
        background-color: white;
      }

      .school-btn {
        display: block;
        width: 100%;
        padding: 2px 0;
        text-align: center;
        font-size: 16px;
        letter-spacing: 1px;
        color: white;
        background-color: #4576D1;
      }

      .instance-icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }
}