#school-index {
  padding: 30px 0;

  .school-title {
    text-align: center;
  }

  .school-group {
    column-count: 3;
    column-gap: 20px;

    .school-card {
      display: inline-block;
      width: 100%;
      margin-top: 20px;
      border: 1px #979797 solid;
      
      img {
        width: 100%;
      }

      .school-info {
        padding: 5px 20px;
        line-height: 40px;
        background-color: white;
      }

      .school-btn {
        display: block;
        width: 100%;
        padding: 2px 0;
        text-align: center;
        font-size: 16px;
        letter-spacing: 1px;
        color: white;
        background-color: #4576D1;
      }

      .instance-icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }
}

#school-show {
  .main {
    padding: 235px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-align: center;
    text-transform: uppercase;

    .title {
      margin-bottom: 100px;
      font-size: 3.4em;
      color: white;
    }

    .slogan {
      font-size: 2.1em;
      color: #D8D8D8;
    }
  }

  .feature {
    padding: 30px;
    text-align: center;

    .subtitle {
      margin: 60px;
    }

    img {
      width: 100%;
    }

    p {
      padding: 10px;
      line-height: 25px;
      color: #979797;
      text-align: center;
    }
  }

  .action {
    padding: 30px;
    text-align: center;
    background-color: #D8D8D8;
  }
}
