.<div class="well">
  <%= simple_form_for @resume, html: { multipart: true} do |f| %>
    <%= f.input :name %>
    
    <%= f.input :attachment, as: :file %>
  <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>
