<div id="admin-navbar">
  <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
    <li> <%= link_to("數據報告", report_admin_schools_path) %> </li>
    <li> <%= link_to("頁面排版 Landing Page", "#") %></li>
    <li> <%= link_to("學校活動 School Activity", account_activity_admin_schools_path) %></li>
    <li> <%= link_to("登出 Logout",destroy_user_session_path,method: :delete ) %></li>
  </ul>
</div>
