<div id="admin-header" class="row">
  <div class="col-md-2">
    <div id="logo">
      <div class="english">justudy</div>
      <div class="chinese">就醬遊</div>
    </div>
  </div>
  <div class="col-md-10">
    <div id="head" class="clearfix">
      <div class="title pull-left">School Dashboard</div>
      <div class="profile pull-right">welcome, <%= current_user.name %></div>
    </div>
  </div>
</div>
