<footer>
	<div class="container">
		<div class="clear-fix">
			<div class="pull-left">
				<ul class="contact-nav list-unstyled clear-fix">
					<li class="pull-left">
						<ul class="list-unstyled">
							<li><a href="#">關於我們</a></li>
							<li><a href="#">聯絡我們</a></li>
						</ul>
					</li>
					<li class="pull-left"><%= link_to '加入我們', new_enrollment_path %></li>
					<li class="pull-left"><a href="#">
						<div>下載Justudy</div>
						<%= image_tag 'filename' %>
					</a></li>
				</ul>
			</div>
			<div class="pull-right">
				<%= image_tag 'justudy_icon.png', class: ['logo-img'] %>
				<div>服務信箱：justudy@gmail.com</div>
				<div>週一至週五 10:00-19:00</div>
				<div>留言給小編</div>
			</div>
		</div>
		<div id="right-reserved">Justudy All Rights Reserved.</div>
	</div>
</footer>
